<%= form_with(model: @task, local: true) do |form| %>
   <% if @task.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="task_name">
    <%= form.label t('view.task_name') %>
    <%= form.text_field :task_name %>
  </div>
  <div class="detail">
    <%= form.label t('view.detail') %>
    <%= form.text_field :detail %>
  </div>
  <div class="deadline">
    <%= form.label t('view.deadline') %>
    <%= form.datetime_field :expired_at %>
  </div>
  <div class="status">
    <%= form.label t('view.status') %>
    <%= form.select :status,['未着手','着手中','完了'],{ include_blank: '選択してください'} %>
  </div>  
  <div class="priority">
  <%= form.label t('view.priority') %>
  <%= form.select :status,[ "高","中","底" ],{ include_blank: '選択してください'} %>
</div>  
  <%= form.submit %>
<% end %>