
<p><%= notice %></p>
<div class= search_tag>
<%= form_with(url: search_tasks_path, local: true, method: :get, class: "search-form" ) do |form| %>
  <%= form.text_field :task_name, placeholder: "検索する", class: "search-input" %>
    <label for="search-icon" class="search-label">
      <i class="fas fa-search">
      </i>
    </label>
  <%= form_with(url: search_tasks_path, local: true, method: :get, class: "search-form" ) do |form| %>
    <%= form.select :status,['未着手','着手中','完了'],{ include_blank: '進歩状況'} %>
    <label for="search-icon" class="search-label">
      <i class="fas fa-search">
      </i>
    </label>
    <a class="search-icon">
      <%= form.submit "検索", class: "search-btn", id: "search-icon" %>
    </a>
  <% end %>
<% end %>
</div>
<br>

<div class = new_tag>
  <button type="button" class="btn btn-outline-primary btn-sm"><%= link_to t('view.create_new_task'), new_task_path %></button>
</div>
<br>

<table>
  <tr>
    <th><span class="badge rounded-pill bg-light text-dark"><%= t('view.task_name') %></span></th>
    <th><span class="badge rounded-pill bg-light text-dark"><%= t('view.content') %></span></th>
    <th><span class="badge rounded-pill bg-light text-dark"><%= link_to t('view.deadline'), tasks_path(sort_expired: "true") %></span></th>
    <th><span class="badge rounded-pill bg-light text-dark"><%= t('view.status') %></span></th>
    <th><span class="badge rounded-pill bg-light text-dark"><%= link_to t('view.priority'), tasks_path(sort_priority: "true") %></span></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
  <% if task.user == current_user %>
    <td><%= task.task_name %></td>
    <td><%= task.detail %></td>
    <td><%= task.expired_at %></td>
    <td class = center_tag ><%= task.status %></td>
    <td class = center_tag ><%= task.priority %></td>
    <td><button type="button" class="btn btn-outline-primary"><%= link_to t('view.detail'), task_path(task.id) %></button></td>
    <td><button type="button" class="btn btn-outline-success"><%= link_to t('view.edit'), edit_task_path(task.id) %></button></td>
    <td><button type="button" class="btn btn-outline-danger"><%= link_to t('view.delete'), task_path(task.id), method: :delete ,data: { confirm: 'are you ok ?' } %></button></td>
  <% else %>
  <% end %>
  </tr>
<% end %>
</table>

<div class= paginate_tag>
  <p><%= paginate @tasks, theme: 'bootstrap-5' %></p>
</div>

