<table>
  <tr>
    <th><span class="badge rounded-pill bg-light text-dark"><%= t('view.task_name') %></th> 
    <th><span class="badge rounded-pill bg-light text-dark"><%= t('view.content') %></th> 
    <th><span class="badge rounded-pill bg-light text-dark"><%= t('view.status') %></th> 
    <th><span class="badge rounded-pill bg-light text-dark"><%= t('view.priority') %></th> 
  </tr>
  <tr>
    <td><%= @task.task_name %></td>
    <td><%= @task.detail %></td>
    <td class = center_tag ><%= @task.status %></td>
    <td class = center_tag ><%= @task.priority %></td>
  </tr>
</table>